[user]
	name = dsumac
	email = damien@sumac.fr
[diff]
	tool = meld

[merge]
	tool = meld
	conflictstyle = diff3

[difftool]
	prompt = false

[difftool "meld"]
	cmd = $(which meld) "$REMOTE" "$LOCAL"

[difftool "webstorm"]
	cmd = $(which webstorm) diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
	trustExitCode = true

[mergetool "meld"]
	cmd = $(which meld) "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	#cmd = $(which meld) "$LOCAL" "$BASED" "$REMOTE" --output "$MERGED"

[mergetool "webstorm"]
	cmd = $(which webstorm) merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename \"$MERGED\")
	trustExitCode = true

[rebase]
	autosquash = true

